<!doctype html>
<html>
<head>
    <title>Meadowlark Travels</title>
</head>
<body>
    <header><img src="/img/logo.jpg" alt="Meadowlark Travels Logo"></header>
    {{{body}}}

    <div id="debug">
    <h5>Debug</h5>

    </div>
</body>
</html>